@using Training.MvcFrontend.HtmlHelpers;

@{
    ViewBag.Title = "HtmlHelper";
}

<h2>HtmlHelper</h2>
@* Olyan Html helpert generáltunk, amely alapból döltbetűsen jeleníti meg a szöveget *@
@Html.ItalicLabel("Hello")


