@model Training.DomainModel.Product

<div class="col-md-12">
    This is a product
</div>
<div class="col-md-2">
    <b>Product name:</b>
</div>
<div class="col-md-10">
    @Model.ProductName
</div>
<div class="col-md-2">
    <b>Product price:</b>
</div>
<div class="col-md-10">
    @Model.UnitPrice
</div>